{
    "extends": ["wesbos"],
    "overrides": [
        {
          "files": [ "src/**/*.js", "src/**/*.jsx" ],
          "excludedFiles": "*.spec.js",
          "rules": {
            "quotes": [ 2, "single" ]
          }
        }
      ]
}