body a {
  text-decoration: none;
}

.site-title-wrapper {
    padding: 20px 0 0 20px;
    width: auto;
    float: left; }
    @media only screen and (min-width: 40.063em) {
      .site-title-wrapper {
        padding-top: 0;
        text-align: left; } }
  
  .site-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.25rem;
    letter-spacing: -0.03em;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2em;
    font-size: 1.6rem;
    font-weight: 100;
    margin: 0 8px 0 0;
    padding: 0;
    text-transform: uppercase;
    border-right: none;
    display: block; }
    @media only screen and (min-width: 40.063em) {
      .site-title {
        display: inline-block;
        font-size: 2rem;
        padding: 35px 0; } }
    .site-title a {
      color: #ffffff; 
      text-decoration: none;
    }
      .site-title a:hover, .site-title a:visited:hover {
        color: rgba(255, 255, 255, 0.8); }
  
  .site-description {
    margin-left: 3px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 100;
    font-family: "Lato", sans-serif;
    position: relative;
    display: inline;
    padding: 0 15px 0 0px;
    color: #ffffff; }
    @media only screen and (min-width: 40.063em) {
      .site-description {
        padding-left: 8px;
        border-left: 1px solid #fff;
        text-align: left;
        padding-left: 10px;
        display: inline-block;
        top: -4px; } }

/*--------------------------------------------------------------
# Menus
--------------------------------------------------------------*/
.main-navigation-container {
    clear: both; 
}
    @media only screen and (max-width: 40.063em) {
      .main-navigation-container {
        content: "";
        display: table;
        table-layout: fixed;
        width: 100%;
        position: relative; } }
    @media only screen and (min-width: 40.063em) {
      .main-navigation-container {
        clear: none;
        float: right; } }
  
  .main-navigation {
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    display: none; 
    background-color: black;
}
    .main-navigation.open {
      display: block; }
      @media only screen and (max-width: 40.063em) {
        .main-navigation.open {
          margin-top: 25px; } }
    .main-navigation:not(.open) ul.menu > li.current_page_item > a,
    .main-navigation:not(.open) ul.menu > li.current-menu-item > a,
    .main-navigation:not(.open) ul.menu > li.current_page_ancestor > a,
    .main-navigation:not(.open) ul.menu > li.current_page_parent > a,
    .main-navigation:not(.open) ul.menu > li.current-menu-ancestor > a {
      border-color: white; }
    @media only screen and (max-width: 40.063em) {
      .main-navigation {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999; } }
    @media only screen and (min-width: 40.063em) {
      .main-navigation {
        display: block; } }
    @media only screen and (min-width: 40.063em) {
      .main-navigation .menu-main-menu-container {
        width: auto;
        text-align: center; } }
    .main-navigation .expand {
      font-size: 1.8rem;
      position: absolute;
      right: 0;
      top: 0;
      padding: 19px 0;
      width: 50px;
      line-height: 1;
      text-align: center;
      border-bottom: none;
      border-left: 2px solid rgba(0, 0, 0, 0.05);
      text-indent: 0; }
      .main-navigation .expand:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      .main-navigation .expand:before {
        content: "+"; }
      @media only screen and (min-width: 40.063em) {
        .main-navigation .expand {
          display: none; } }
    .main-navigation .menu-item-has-children {
      position: relative; }
      .main-navigation .menu-item-has-children.open > .expand:before {
        content: "-"; }
    @media only screen and (max-width: 40.063em) {
      .main-navigation li li {
        text-indent: 1rem; }
      .main-navigation li li li {
        text-indent: 1.5rem; }
      .main-navigation .open > .sub-menu {
        display: block; } }
    .main-navigation ul {
      padding-top: 2px;
      list-style: none;
      margin: 0;
      padding-left: 0; }
      .main-navigation ul.menu > li > a {
        border-top: 3px solid transparent; }
      .main-navigation ul.menu > li.current_page_item > a,
      .main-navigation ul.menu > li.current-menu-item > a,
      .main-navigation ul.menu > li.current_page_ancestor > a,
      .main-navigation ul.menu > li.current_page_parent > a,
      .main-navigation ul.menu > li.current-menu-ancestor > a {
        font-weight: 700; }
      .main-navigation ul a {
        color:white;
        display: block;
        padding: 1.2em .75em;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
        @media only screen and (min-width: 40.063em) {
          .main-navigation ul a {
            padding-top: 2.9em;
            padding-bottom: 2.9em;
            border-bottom: none; } }
      .main-navigation ul ul {
        z-index: 99999;
        display: none; }
        @media only screen and (min-width: 40.063em) {
          .main-navigation ul ul a {
            padding: 1em .75em;
            text-align: left; } }
        @media only screen and (min-width: 40.063em) {
          .main-navigation ul ul {
            display: block;
            position: absolute;
            left: -999em;
            -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }
            .main-navigation ul ul ul {
              left: -999em;
              top: 0; }
            .main-navigation ul ul li:hover > ul,
            .main-navigation ul ul li.focus > ul {
              left: 100%; }
            .main-navigation ul ul a {
              width: 200px; } }
      .main-navigation ul li:hover > ul,
      .main-navigation ul li.focus > ul {
        left: auto; }
    @media only screen and (min-width: 40.063em) {
      .main-navigation li {
        position: relative;
        display: inline-block; }
      .main-navigation a {
        text-decoration: none;
        padding: .25em .75em;
        color: #fff;
        text-transform: uppercase; } }
    .main-navigation .sub-menu .menu-item-has-children > a::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      right: 10px;
      top: 50%;
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
      border-left: 7px solid #fff;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: none; }
      @media only screen and (min-width: 40.063em) {
        .main-navigation .sub-menu .menu-item-has-children > a::after {
          display: inline; } }
  
  body.no-max-width .main-navigation {
    max-width: none; }
  
  .menu-toggle {
    display: inline-block;
    margin: 0 auto;
    width: 3.9rem;
    padding: 0.15rem 0.6rem 0.6rem 0.6rem;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    right: 20px;
    top: 20px; }
    @media only screen and (min-width: 40.063em) {
      .menu-toggle {
        display: none; } }
    .menu-toggle div {
      background-color: white;
      height: 0.25rem;
      margin: 0.43rem;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .15s ease-in-out;
      transition: .15s ease-in-out;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center; }
    .menu-toggle.open div:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-toggle.open div:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .menu-toggle.open div:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }


    .site-info-wrapper {
        background-color: black;
        margin-top: 33px;
    padding: 1.5em 0; }
    .site-info-wrapper .site-info {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto; }
        .site-info-wrapper .site-info:after {
        content: " ";
        display: block;
        clear: both; }
        @media only screen and (max-width: 40.063em) {
        .site-info-wrapper .site-info {
            text-align: center; } }
    .site-info-wrapper .site-info-text {
        color: white;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        font-size: 90%;
        line-height: 38px; }
    .site-info-wrapper .footer-menu {
        width: 63.88889%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%; }
    .site-info-wrapper .social-menu {
        width: 30.55556%;
        float: right;
        margin-left: 1.38889%;
        margin-right: 1.38889%; }
        @media only screen and (min-width: 40.063em) {
        .site-info-wrapper .social-menu {
            text-align: right; } }
    @media only screen and (max-width: 40.063em) {
        .site-info-wrapper .footer-nav,
        .site-info-wrapper .site-info-text,
        .site-info-wrapper .social-menu {
        width: 97.22222%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
        text-align: center; } }


        .footer-menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center; }
            @media only screen and (min-width: 40.063em) {
              .footer-menu ul {
                text-align: left; } }
            .footer-menu ul li {
              display: inline-block;
              font-family: "Roboto", "Helvetica Neue", sans-serif;
              font-size: .875rem;
              font-weight: 600;
              margin: 0 10px;
              text-align: center;
              text-transform: uppercase; }
              .footer-menu ul li:first-of-type {
                margin-left: 0; }
              @media only screen and (min-width: 568px) {
                .footer-menu ul li {
                  text-align: left; } }
              .footer-menu ul li a {
                color: #fff;
                border-bottom: 1px solid transparent;
                padding-bottom: 5px; 
                text-decoration: none;
              }
                .footer-menu ul li a:hover {
                  border-color: #fff; }
                  .footer-menu ul li a:hover:after {
                    padding-left: 10px; }